
body{
    max-width: 600px;
    margin: 0;
}
nav img{
    width: 35px;
    float: left;
    margin-top: 17px;
    margin-left: 20px;
    margin-right: 20px;
}
.ideas{
    display: none;
}
div.izquierda {
 text-align: center;
}
div.derecha a{
    margin-right: 10px;
}
div.L-mitad{
    width: 100%;
}
input{
    width: 100%;
}
table.anchototal{
    width: 100%;
}
textarea{
    width: 100%;
}
input.enviar{
    width: 10%;
}

a{
    text-decoration: none;
    color:#94CDD6 ;
}
a.home svg{
    width: 20px;
}
div.L-tercio svg{
    width: 20px;
}
a.home2{
    display:none;
}
img{
    width: 100%;
    max-width: 600px;
}
div.contenedor{
    font-size: 23px;
    background-color: #1A5B6D ;
}

div.imagen svg{
    width: 20px;
    margin-left: 10px;
    margin-right: 5px;
}

h1 img {
    width: 130px;
    border-radius: 75px;
    -webkit-box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.75);
}

header{
text-align: center;
margin-bottom: 100px;
color:#94CDD6  ;
}
h2,h3{
    color:#94CDD6  ;
    text-align: center;
}
article{
    margin: 10px;
}
div.Publi{
    margin-bottom: 120px;
}
footer{
    display: none;
}
input.enviar{
    background-color:#1A5B6D  ;
    color:#94CDD6;
    border-radius: 5px;
    padding: 5px;
}
.video2{
    display: none;
}
p.university svg{
    width: 20px;
    margin-right: 5px;
}
p.phone svg{
    width: 20px;
    margin-right: 5px;
}
@media screen and (min-width: 600px) and (max-width: 1000px){
*{
    font-family: 'Miriam Libre', sans-serif;
}
body{
    min-width: 600px;
    max-width: 1000px;
}
nav img{
    width: 35px;
}
div.derecha {
    text-align: center;
    margin-right: 10px;
    
   
}

div.derecha a{
    margin-right: 10px;
   
       
}
header{
    position: relative;;
    top: -500px;
} 

h1{
    font-size: 60px;
}
img{
width: 100%;
max-width: 1000px;
}
div.L-tercio{
    display: flex;
    flex-direction: row;
}
div.M-mitad{
    width: 50%;
    margin-left: 10px;
    margin-top: 20px;
}
#exhi{
    position: relative;
    top: -300px;
}

section#Exhibition{
    position: relative;
    top: -300px;
}

footer{
    display:block;
}
div.derecha svg.uno{
    width: 12px;
    
}
div.derecha svg.dos{
    width: 20px;
}
div.derecha svg.tres{
    width: 24px;
}


div.redes{
    padding-top: 10px;
    background-color: #1A5B6D ;
    margin-bottom: 20px;
}




}

@media screen and (min-width: 1000px) {
    body{
        width: 100%;
        max-width: 1400px;
    }
    div.izquierda{
        float: left;
       }
    div.derecha{
    margin-right: 10px;
    text-align: right;
    }
    nav.anchototal{
        padding: 5px;
        background-color:#1A5B6D;
    }

    div.contenedor{
       width: 1100px;
    margin: auto;
    }
    nav img{
        width: 30px;
        margin-top: 2px;
    }
    .ideas{
        display:block;
        width: 1400px;
        height: 800px;

    }
    div.imagen img{
        display: none;
    }

    header{
        position: relative;;
        top: -500px;
    } 
    h1{
        font-size: 60px;
    }
    #exhi{
        position: relative;
        top: -300px;
    }
   
    section#Exhibition{
        position: relative;
        top: -300px;
    }
    div.L-tercio{
        display: flex;
        width: 25%;
        flex-direction: column;
    }
    div.M-mitad{
        margin-left: 10px;
        margin-top: 20px;
    }
    section.contenedor{
        display: flex;
        width: 1100px;
        flex-direction: row;
        margin: auto;
    }
    div.L-mitad{
        margin-right: 30px;
    }

    h2{
        height: 20px;
    }
    footer{
        display:block;
        background-color: #1A5B6D;
        padding-bottom: 20px;
    }
    div.derecha svg.uno{
        width: 12px;
    }
    div.derecha svg.dos{
        width: 20px;
    }
    div.derecha svg.tres{
        width: 24px;
    }
    .video2{
        display: block;
        width: 100%;
        max-width: 265px;
    }
    .svg2{
        display: none;
    }
    .imagen2{
        display: none;
    }
    
    
    div.redes{
        padding-top: 10px;
    }
    h3{
        margin: 0px;
    }

}